**/bin/
**/obj/
**/node_modules/
**/.angular/
**/.vs/
**/.vscode/
**/.idea/
**/dist/
**/publish/
**/publish-debug/
**/build/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/.env
**/.env.local
**/.DS_Store
Thumbs.db
README.md
Resource/
Testing/
